<%- include('widgets/header'); -%>

<div class="posts-detail-frame">
    <% if(!post){%>
        <div>
            Unavailable Post
        </div>
    <%}%>
    <% if(post){%>
        <h2><%= post.title %></h2>
        <h4 class="posts-detail-tag">Tag: <%= post.tag %></h4>
        <div class="posts-detail-destination">Destination: <%= post.destination %></div>
        <div class="posts-detail-time">Start Date: <%= post.startDate %></div>
        <div class="posts-detail-time">End Date: <%= post.endDate %></div>
        <div class="posts-detail-content"><%= post.content %></div>
        <div class="posts-detail-time">Update Time: <%= post.updatedAt %></div>

        <% if(pictures){%>
            <% pictures.forEach(function (picture) { %>
                <img src="<%= picture.url %>" class="post-image">
            <%})%>
        <%}%>

        <% if(post.userId === user.id){%>
            <button type="submit" class="btn btn-primary btn-comment" id="delete-post">Delete Post</button>
        <%}%>
        <div class="form-group div-comment">
            <label for="comment"><b>Comment</b></label>
            <textarea type="text" class="form-control" id="comment" maxlength="255"></textarea> 
            <button type="submit" class="btn btn-primary btn-comment" id="submit">Submit Comment</button>
        </div>

        <% if(!comments){%>
            <div>
                No Comments Yet
            </div>
        <%}%>
        <div id="comment-container">
        <% if(comments){%>
            <% comments.forEach(function (comment) { %>
                    <div class="comment-frame">
                        <div class="comment-username"><%= comment.username %></div>
                        <div class="comment-time"><%= comment.updatedAt %></div>
                        <div class="comment-content"><%= comment.content %></div>
                    </div>
            <%})%>
        <%}%>
        </div>
        
    <%}%>
</div>

<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script>

    function getFormattedDatetime(t) {
        hr = ("0" + t.getHours()).slice(-2);
        min = ("0" + t.getMinutes()).slice(-2);
        sec = ("0" + t.getSeconds()).slice(-2);
        return t.getFullYear()+"-"+(t.getMonth()+1)+"-"+t.getDate()+" "+hr+":"+min+":"+sec;
    }

    var socket = io.connect('http://localhost:3000');
    socket.on('serverEmit', function(data){

        var comment_frame_div = document.createElement('div');
        comment_frame_div.className = "comment-frame";

        var comment_username_div = document.createElement('div');
        comment_username_div.className = "comment-username";
        comment_username_div.innerHTML = data['username'];

        var comment_time_div = document.createElement('div');
        comment_time_div.className = "comment-time";
        comment_time_div.innerHTML = getFormattedDatetime(new Date());

        var comment_content_div = document.createElement('div');
        comment_content_div.className = "comment-content";
        comment_content_div.innerHTML = data['content'];

        comment_frame_div.appendChild(comment_username_div);
        comment_frame_div.appendChild(comment_time_div);
        comment_frame_div.appendChild(comment_content_div);

        $('#comment-container').prepend(comment_frame_div);
    })

    $(function () {

        $('#submit').click(function (e) {
            e.preventDefault();
            var content = $("#comment").val();
            if($("#comment").val().trim().length < 1)
            {
                alert("Please Enter Text...");
                return; 
            }
            let postId = <%= post.id %>;
            let userId = <%= user.id %>
            $.ajax({
                type:'POST',
                url:'/api/comment',
                data:{
                    content,
                    userId,
                    postId
                },
                success:function (res) {
                    c = {'username': '<%= user.username %>', 'content': content};
                    socket.emit('comment', c);
                    location.assign('/posts?id=<%= post.id %>')
                },
                error:function (e) {
                    console.log(e)
                }
            })
        })


        $('#delete-post').click(function (e) {
            e.preventDefault();
            let postId = <%= post.id %>;
            $.ajax({
                type:'GET',
                url:'/api/posts-delete?id=<%= post.id %>',
                success:function (res) {
                    location.assign('/myspace')
                },
                error:function (e) {
                    console.log(e)
                }
            })
        })

    })
</script>


<%- include('widgets/footer'); -%>