<%- include('widgets/header', {user:user}); -%>
<div class="explore-frame">


    <div class="explore-left">
        <form class="form-inline">
            <div class="div-select-type">
                <label for="type">Search by type:</label>
                <select id="select-type" class="form-control">
                    <option value="destination" <% if(type==='destination'){%> selected <%}%> >Destination</option>
                    <option value="tag" <% if(type==='tag'){%> selected <%}%> >Tag</option>
                </select>
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="query" value="<%=query%>">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" id="submit">Search</button>
        </form>

        <div>
            Total <%= locals.posts.length %> Posts Found
        </div>
        <% if(posts){%>
            <% posts.forEach(function (post) { %>
                <%- include('widgets/post',{post:post}); -%>
            <%})%>
        <%}%>
    </div>
    <aside class="explore-right">
        <div class="mashup-covid">
            <div class="virus-icon">
                <svg t="1587406123506" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="763" width="50" height="50"><path d="M1023.904889 511.952444a59.994427 59.994427 0 0 1-104.702274 39.996285H776.927831a39.996285 39.996285 0 0 1-39.996285-39.996285c0-124.052477-100.926625-224.979102-224.979102-224.979101S286.973343 387.899968 286.973343 511.952444 387.899968 736.931546 511.952444 736.931546c31.173104 0 61.46629-6.343411 89.335702-18.398291 0.263975-0.119989 0.519952-0.271975 0.799926-0.391964 0.159985-0.063994 0.31997-0.11199 0.487954-0.183983a224.539142 224.539142 0 0 0 62.538191-41.220171 39.964288 39.964288 0 0 1 56.850719-5.095526c0.11199 0.079993 0.207981 0.175984 0.311971 0.263975 0.703935 0.607944 1.407869 1.207888 2.071808 1.871826l109.245852 109.253852a59.994427 59.994427 0 1 1-56.562746 56.562746L694.055529 756.617717a304.371727 304.371727 0 0 1-24.685707 16.614457l19.558183 45.42778a39.980286 39.980286 0 0 1-36.70859 55.818815 39.996285 39.996285 0 0 1-36.756586-24.173754l-19.422196-45.11581c-14.382664 4.111618-29.117295 7.167334-44.083905 9.119153v104.894257a59.994427 59.994427 0 1 1-99.990711 44.707847c0-17.774349 7.727282-33.724867 19.998142-44.707847v-104.902256a303.107844 303.107844 0 0 1-44.059907-9.167148l-19.454193 45.171804a40.012283 40.012283 0 0 1-52.555118 20.902058 39.980286 39.980286 0 0 1-20.910058-52.555118l19.622177-45.547769a308.051385 308.051385 0 0 1-28.053394-19.182218l-85.672042 85.672042a59.994427 59.994427 0 1 1-56.562745-56.562746l85.672041-85.672042a306.979484 306.979484 0 0 1-19.182218-28.053394L169.312272 704.414566a39.996285 39.996285 0 0 1-31.637061-73.465175l81.104466-34.940755A303.099845 303.099845 0 0 1 209.612529 551.948729H104.710273A59.994427 59.994427 0 0 1 0 511.952444a59.994427 59.994427 0 0 1 104.702274-39.996284h104.902256a303.315825 303.315825 0 0 1 9.167148-44.059908l-45.171804-19.454192a39.980286 39.980286 0 0 1-20.902058-52.555119 39.988285 39.988285 0 0 1 52.555118-20.910057l45.547769 19.622177a308.083382 308.083382 0 0 1 16.590459-24.637711L184.30288 246.865069a59.994427 59.994427 0 1 1 56.562746-56.562746L323.169981 272.606677a305.979577 305.979577 0 0 1 31.437079-21.797975L319.490322 169.312272a39.996285 39.996285 0 0 1 73.465176-31.64506l34.940754 81.104466A303.107844 303.107844 0 0 1 471.95616 209.60453V104.710273A59.994427 59.994427 0 0 1 511.952444 0a59.994427 59.994427 0 0 1 39.996285 104.702274v104.902256a303.331823 303.331823 0 0 1 44.059907 9.167148l19.446194-45.171804a39.996285 39.996285 0 0 1 73.473175 31.645061l-19.622177 45.555768a308.051385 308.051385 0 0 1 28.053394 19.182218l79.672599-79.672599a59.994427 59.994427 0 1 1 56.554747 56.562746l-79.6726 79.672599a305.41163 305.41163 0 0 1 19.182219 28.053394l45.555768-19.622177a39.996285 39.996285 0 0 1 31.64506 73.465176l-45.163804 19.454192A302.051942 302.051942 0 0 1 814.29236 471.95616h104.902255A59.994427 59.994427 0 0 1 1023.904889 511.952444z m-136.61131 119.460904l-57.770634-26.877504a39.996285 39.996285 0 1 0-33.756864 72.521264l57.778633 26.877503a40.012283 40.012283 0 0 0 33.748865-72.521263zM355.966934 515.952073A59.994427 59.994427 0 0 0 415.961361 575.9465a59.994427 59.994427 0 0 0 59.994427-59.994427A59.994427 59.994427 0 0 0 415.961361 455.957646a59.994427 59.994427 0 0 0-59.994427 59.994427zM616.910695 423.960618a49.995356 49.995356 0 1 0-99.990712 0 49.995356 49.995356 0 0 0 99.990712 0zM593.944828 615.942785a39.996285 39.996285 0 1 0 0-79.99257 39.996285 39.996285 0 0 0 0 79.99257z" fill="#d81e06" p-id="764"></path></svg>
            </div>
            <h4 style="color:rgb(216,30,6)">World Covid 19 Updates:</h4>
            <div><span>World Total Cases: </span><%= locals.covidUpdates.cases%></div>
            <div><span>World Total deaths: </span><%= locals.covidUpdates.deaths%></div>
            <div><span>World Total recovered: </span><%= locals.covidUpdates.recovered%></div>
            <% locals.covidUpdates.tops.forEach(country=>{%>
                <div><span><%= country.Country  %> Cases: </span><span><%= country.TotalCases %></span></div>
            <%})%>
        </div>
        <% if(weather && Object.keys(weather).length !== 0){%>
            <div class="mashup-weather">
                <h4>Today's Weather:</h4>
                <div><%= weather.name %><img style="width:50px;height:50px" src="<%= weather.condition_icon %>" /><%= weather.condition_text %></div>
                <div>Local Time: <%= weather.localtime %></div>
                <div>Temperature: <%= weather.temperature %>℃</div>
                <div>Wind: <%= weather.wind_mph %> mph</div>
                <div>Pressure: <%= weather.pressure_mb %> mb</div>
                <div>Humidity: <%= weather.humidity %>%</div>
                <div>UV: <%= weather.uv %>%</div>

            </div>
        <%}%>
    </aside>
</div>

<script>
    $(function () {

        $('#submit').click(function (e) {
            e.preventDefault();
            let type = $("#select-type").val();
            let query = $("#query").val();
            location.assign('/explore?type=' + type + '&query=' + query);
        })
        
    })
</script>

<%- include('widgets/footer');  -%>