<%- include('widgets/header', {user:user}); -%>
<div class="explore-frame">
    <div class="explore-left">
        <% if(!posts){%>
            <div>
                No Posts Yet
            </div>
        <%}%>
        <% if(posts){%>
            <% posts.forEach(function (post) { %>
                <%- include('widgets/post',{post:post}); -%>
            <%})%>
        <%}%>
    </div>
    <aside class="explore-right">
        <div class="tags">
            <h4>Tags:</h4>
            <ul class="tag-list">
                <% locals.tags.forEach(function(tag){%>
                    <li><a href="/explore?tag=<%= tag.name%>"><%= tag.name %></a></li>
                <%})%>
            </ul>
        </div>
        <div class="mashup-hot-deal">
            <h4>Hot Deals:</h4>
        </div>
        <div class="mashup-weather">
            <h4>Today's Weather:</h4>
        </div>
    </aside>
</div>
<%- include('widgets/footer');  -%>