<%- include('widgets/header', {user:user}); -%>
<div class="explore-frame">

    <form class="form-inline">
        <div class="div-select-type">
            <label for="type">Search by type:</label>
            <select id="select-type" class="form-control">
              <option value="destination" <% if(type==='destination'){%> selected <%}%> >Destination</option>
              <option value="tag" <% if(type==='tag'){%> selected <%}%> >Tag</option>
            </select>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="query" value="<%=query%>">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" id="submit">Search</button>
    </form>

    <div>
        Total <%= posts.length %> Posts Found
    </div>
    <div class="explore-left">
        <% if(posts){%>
            <% posts.forEach(function (post) { %>
                <%- include('widgets/post',{post:post}); -%>
            <%})%>
        <%}%>
    </div>
    <aside class="explore-right">
        <div class="tags">
            <h4>Tags:</h4>
            <ul class="tag-list">
                <% locals.tags.forEach(function(tag){%>
                    <li><a href="/explore?tag=<%= tag.name%>"><%= tag.name %></a></li>
                <%})%>
            </ul>
        </div>
        <div class="mashup-hot-deal">
            <h4>Hot Deals:</h4>
        </div>
        <div class="mashup-weather">
            <h4>Today's Weather:</h4>
        </div>
    </aside>
</div>

<script>
    $(function () {

        $('#submit').click(function (e) {
            e.preventDefault();
            let type = $("#select-type").val();
            let query = $("#query").val();
            location.assign('/explore?type=' + type + '&query=' + query);
        })
        
    })
</script>

<%- include('widgets/footer');  -%>